<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anhubo.anhubo">

    <uses-sdk android:minSdkVersion="10" />
    <!--JPush-->
    <permission android:protectionLevel="signature" android:name="${applicationId}.permission.JPUSH_MESSAGE"/>
    <!-- Required 一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
<!--**********************以上是极光***********************************************-->

    <!-- NFC权限声明 -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- 限制NFC的安装设备 -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <!--添加网络、拍照和读写卡的权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <!--震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--打开摄像头灯的权限-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />


    <!--友盟-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!--高德-->
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait"></activity>
        <!--Nfc扫描界面-->
        <activity
            android:name=".ui.activity.unitDetial.NfcScanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfca.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="mime/type" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--登录注册-->
        <activity
            android:name=".ui.activity.Login_Register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Login_Register.RegisterActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Login_Register.PwdRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Login_Register.AnhubaoDeal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Login_Register.Login_Pwd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Login_Register.Login_Message"
            android:screenOrientation="portrait"></activity>
        <!--友盟meta-data-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561cae6ae0f55abd990035bf"></meta-data>
        <!--高德服务-->
        <service android:name="com.amap.api.location.APSService"></service>
        <!--高德meta-data-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a302f9a3355d276c96844f55c2b6ffd5"/>
        <!--单位界面-->
        <activity
            android:name=".ui.activity.unitDetial.Add_Device_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.unitDetial.DeviceName_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.unitDetial.Unit2Study"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.unitDetial.UnitMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.unitDetial.MsgPerfectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.unitDetial.UploadingActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.unitDetial.UploadingActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.unitDetial.UploadingActivity3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.unitDetial.UploadingActivity4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.unitDetial.UnitMsgCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.unitDetial.QrScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.unitDetial.DeviceList"
            android:screenOrientation="portrait" />
        <!--反馈-->
        <activity
            android:name=".ui.activity.unitDetial.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.unitDetial.FeedbackSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.unitDetial.Pending_FeedbackActivity"
            android:screenOrientation="portrait" />


        <!--建筑界面-->
        <activity
            android:name=".ui.activity.buildDetial.Build_CltMsgActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.buildDetial.TestActivity"
            android:screenOrientation="portrait" />
        <!--发现-->
        <activity android:name=".ui.activity.DiscoveryDetial.FeedActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.DiscoveryDetial.NoticeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.DiscoveryDetial.UseGuideActivity"
            android:screenOrientation="portrait" />
        <!--我的界面-->
        <activity
            android:name=".ui.activity.MyDetial.InvateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyDetial.OrderManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyDetial.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyDetial.AboutWeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyDetial.PersonMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyDetial.AlterPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyDetial.CertificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyDetial.IdCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyDetial.EngineerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.MyDetial.AlterUnitActivity"
            android:screenOrientation="portrait" />
        <!--高德地图建筑-->
        <activity android:name=".ui.activity.unitDetial.BuildingActivity"
            android:screenOrientation="portrait" />
        <!--高德地图单位-->
        <activity android:name=".ui.activity.unitDetial.BusinessActivity"
            android:screenOrientation="portrait" />

        <!--微信-->
        <activity
            android:name="com.anhubo.anhubo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--欢迎界面-->
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--引导界面-->
        <activity android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait" />



        <!--**************************极光******************************-->
        <!-- Required SDK核心功能-->
        <activity android:name="cn.jpush.android.ui.PushActivity" android:exported="false" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能-->
        <service android:name="cn.jpush.android.service.DownloadService" android:exported="false" android:enabled="true"> </service>
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service android:name="cn.jpush.android.service.PushService" android:exported="false" android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service android:name="cn.jpush.android.service.DaemonService" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </service>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.PushReceiver" android:exported="false" android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <!--Required 显示通知栏 -->
                <category android:name="${applicationId}"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>
        <!-- 用户自定义的广播接收器-->
        <receiver
            android:name=".receiver.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <!-- Required . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="4c79125d89e7344f623afb9a"/>
        <!--**************************极光*****************************-->


    </application>

</manifest>